:root{
  --blue: #645394;
}
a{
  text-decoration: none;
  color: black;
}
html{
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
  }
  body{
    padding: 0px;
    margin: 0px;
    background-image: url(images/5509862.jpg) ;
  }

header{
    background-color: var(--blue);
    height: 100px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.sticky + .content {
  padding-top: 102px;
}
/*.backToTop{
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
}*/
.headerDiv{
  padding: 0 120px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logoLink{
  height: 80px;
}
.logo{
  height: 80px;
}
.search{
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchTerm{
  width: 650px;
  height: 32px;
  border: none;
  background-color: rgb(243, 243, 243);
  border-radius: 5px 0 0 5px;
}
.searchTerm::placeholder{
  color: black;
}
.searchButton{
  border: none;
  background-color: var(--blue);
  background-color: rgb(243, 243, 243);
  color: rgb(112, 112, 112);
  height: 32px;
  border-radius: 0 5px 5px 0;

}
.topBtns{
  display: flex;
  justify-content: space-around;
}
.topBtn{
  background-color: var(--blue);
  border: none;
  cursor: pointer;
  margin: 0 1em;
}
i{
  font-size: 2rem;
}
nav{
  background-color: var(--blue);
}
.links{
  margin: auto;
  width: 1340px;
  padding: 0;
  margin: none;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
.links li:hover{
  background-color: blue;
}
.links li{
  text-align: center;
  width: 150px;
  font-size: 1.4rem;
}
.navLinks{
  text-decoration: none;
  color: black;
}

/*center image*/

.centerImg img{
  display: block;
  height: 250px;
  width: 80%;
  margin: 50px auto 100px;
  border-radius: 10px;
}

/*Product section*/

.productSection{
  height: 380px;
  padding: 0 100px;
}
.productSection h1{
  font-size: 1.7rem;
}
.products{
  height: 200px;
  display: flex;
  justify-content: space-between;
}
.product{
  text-decoration: none;
  text-align: center;
  border: solid rgb(92, 88, 88) 1px;
  border-radius: 8px;
  height: 300px;
  width: 210px;
  overflow: hidden;
  background-color: var(--blue);
}
.product img{
  margin-top: 20px;
  margin-bottom: 10px;
  height: 150px;
  width: 100px;
}
.description{
  font-size: 1rem;
  width: 130px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
}

hr{
  width: 97%;
}

/*footer*/
footer{
  background-color: var(--blue);
}
.dedic{
  text-align: center;
}

.carrinho{
  color: antiquewhite;
  padding: 50px 100px;
}
.fav{
  color: antiquewhite;
  padding: 50px 100px;
}
.carrinho h1{
  color: cornflowerblue;
  font-size: 2.6rem;
}
.fav h1{
  color: cornflowerblue;
  font-size: 2.6rem;
}
.vazio{
  font-size: 1.3rem;
}
.carrinho a{
  color: cornflowerblue;
  text-decoration: underline;
}
.fav a{
  color: cornflowerblue;
  text-decoration: underline;
}
.casoDivergencia{
  padding-top: 100px;
  text-align: center;
  font-weight: 900;
}

/*Profile*/
.content{
  color: antiquewhite;
  width: 90%;
  margin: auto;
}
.contentHolder{
  display: flex;
}
.profileNav ul{
  list-style: none;
}
.profileNav li{
  width: 120%;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.profileNav a{
  color: antiquewhite;
}
.profileNav a:hover{
  color: #645394;
  text-decoration: underline;
}
.mainContent{
  border: 2px solid #524479;
  padding: 0 30px;
  width: 100%;
  background-color: var(--blue);
  margin: 0 100px 0 30px;
}
.mainContent h3{
  margin: 19px 0 5px 0;
}
.mainContent button{
  color: antiquewhite;
  background-color: blueviolet;
  font-size: 1.7rem;
  width: 200px;
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: rgb(38, 5, 187) 0px 4px 0px
}
.mainContent button:hover{
  box-shadow: rgb(25, 4, 121) 0px 4px 0px
}
.mainContent button:active{
  background-color: #524479;
  box-shadow: #524479 0px 4px 0px
}
.email p{
  margin-top: 0;
  font-size: 1.7rem;
}
.email span{
  margin-left: 8px;
  font-size: 1rem;
  text-decoration: underline;
}
.dados input{
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 10px 5px;
  background-color: cornflowerblue;
}
::placeholder{
  color: antiquewhite;
}
/*My Pets*/
.myPets{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myPets div{
  border-radius: 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: blueviolet;
  text-align: center;
  width: 49%;
  cursor: pointer;
}
.myPets div:hover{
  background-color: rgb(114, 36, 187);
}
.myPets div p{
  margin: 0;
}
.fa-dog, .fa-plus{
  margin-bottom: 10px;
}

/*Order section*/
.topo{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/*Product section*/

.productPage{
  display: flex;
  margin: 10px auto 0 auto;
  width: 80%;
  background-color: var(--blue);
  text-align: justify;
}
.productImg{
  width: 97%;
  padding: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.productImg img{
  width: 50%;
  height: auto;
}
.imgs{
  width: 20%;
}

.productDescr{
  padding: 25px;
}
.rating{
  margin-bottom: 20px;
}
.priceFavorite{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
}
.addCart{
  display: flex;
  justify-content: space-between;
}
.quant{
  display: flex;
  justify-content: flex-start;
}
.quant input{
  width: 35px;
  height: 35px;
  margin: 0;
  border: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}
.quant button{
  margin: 0;
  height: 35px;
  width: 35px;
  border: 0;
  
}
#plus{
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 0px 5px 5px 0px;
}
#less{
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px 0 0 5px;
}
.add{
  width: 270px;
  background-color: blueviolet;
  border-radius: 5px;
  border: 1px solid black;
}
.add:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 12px;
}
.comments{
  background-color: var(--blue);
  width: 80%;
  margin: auto;
  padding: 100px 50px;
}
.vejaTbm{
  display: flex;
  justify-content: space-between;
}
.comments hr{
  margin-top: 50px;
 
}
.info{
  margin-top: 60px;
}
.info h2{
  margin-bottom: 40px;
}
.info p{
  font-size: 1.1em;
  line-height: 30px;
}
.perguntas{
  padding: 40px 0;
}
.firstTitle{
  padding-top: 30px;
}

.review{
  margin-top: 50px;
}
.avaliar{
  background-color: aquamarine;
  border: 0;
  padding: 10px 50px;
  border-radius: 5px;
  margin: 0 0 15px;
  font-size: 1rem;
}
.avaliar:hover{
  background-color: aqua;
}
.clientReview{
  margin: 10px 0;
}
.clientReview p{
  margin: 5px 0;
}
.line{
  height: 1px;
  width: 100%;
  background-color: black;
}
/*dog products*/
.containerProdutos{
  background-color: #524479;
  width: 95%;
  margin: 30px auto;
  display: flex;
}
.filtros{
  width: 500px;
  padding: 30px 10px;
  color: antiquewhite;
}
.filtros h2{
  font-size: 1.3rem;
  color: cornflowerblue;
}
.categ{
  list-style-type: none;
  padding: 0;
  font-size: 1.1rem;
  line-height: 27px;
}
.categ li:hover{
  cursor: pointer;
}
.produtosTodos{
  padding: 0 50px 0 30px;
  font-size: 1.1rem;
  text-align: justify;
}
.descrpt{
  color: antiquewhite;
  margin-bottom: 50px;
}
.produtosTodos h2{
  font-size: 1.8rem;
  color: cornflowerblue;
}
.resultProdutos{
  display: flex;
  flex-wrap: wrap;
}
.dogPage{
  margin-right: 30px;
  margin-bottom: 20px;
}

/*Adoção*/
.adocaoContainer{
  width: 90%;
  margin: auto;
  background-color: #524479;
  display:flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 30px 30px;
  border-radius: 10px;
  border: 2px solid black;
  
}
.adoptDiv{
  color: antiquewhite;
  border: 2px solid #433861;
  border-radius: 10px;
  text-align: center;
  background-color: #61518d;
  width: 45%;
}
.adoptDiv p{
  font-size: 1.2rem;
  margin-bottom: 35px;
}
.adoptPlace{
  line-height: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.adoptPlace h3, .adoptPlace h4, .adoptPlace p{
  margin: 20px 0;
}
.petInfo{
  margin-left: 10px;
}
.petInfo a{
  color: rgb(49, 49, 73);
}
.petInfo a:hover{
  color: rgb(101, 101, 143);
}
.adoptDiv h3{
  margin: 10px 0;
}
.adoptDiv input{
  width: 80%;
  height: 25px;
  background-color: rgb(94, 60, 94);
  border: 0;
  border-radius: 5px;
  text-align: center;
}
.adoptDiv input::placeholder{
  color: antiquewhite;
  opacity: 0.3;
}
.vax{
  margin: auto;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #433861;
  border-radius: 5px;
  padding: 10px;
}
.adoptBtn{
  margin: 10px;
  width: 70%;
  height: 40px;
  border: 0;
  border-radius: 5px;
  background-color: #2e2150;
  color: antiquewhite;
  cursor: pointer;
}
.adoptBtn:hover{
  border: 2px solid black;
 /* box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 12px;*/
}